/* ###########################
 * inital
/* ########################### */

@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

* {
	padding: 0;
	margin: 0;
	border: none;
	font-family: 'Lalezar', cursive;
}

:root {
	--primary-text-color: black;
	--primary-bg-color: white;
	--secondary-text-color: white;
	--secondary-bg-color: black;
}

h1 {
	font-size: 2.5rem;
}

p {
	padding-bottom: 1rem;
}

button {
	background-color: var(--secondary-bg-color);
	border-radius: 0.5rem;
	color: var(--primary-text-color);
	padding: 0.5rem 1rem;
	margin: 1.5rem;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: var(--primary-text-color);
}

/* TODO: make scrolling to head of section */

/* ###########################
 * default view
/* ########################### */

body {
	display: grid;
	grid-template-rows: repeat(5, auto);
	grid-gap: 32px;
}

header {
	grid-column: 1/2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 16px;
	background: rgba( 255, 255, 255, 0.75 );
	backdrop-filter: blur( 16px );
	position: sticky;
	top: 0;
	
	& #logo {
		grid-column: 1/2;
		justify-self: start;
		
		& img {
			height: 36px;
		}
	}

	& nav {
		grid-column: 2/3;
		
		& ul {
			display: flex;
			justify-content: space-around;
			list-style: none;
		}
	}
}

section {
	padding: 0 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 32px;
	
	& img {
		width: 45%;
		padding: 16px;
	}
	
	& div {
		flex: 1;
	}
}

section:nth-child(odd) {
	flex-direction: row-reverse;
	
	& div {
		flex: 1;
	}
}

#intro {
	& h1 {
		background-image: linear-gradient(60deg, #34A853, #4285F4);
		background-clip: text;
		color: transparent;
	}
	
	& button {
		background-color: #4285F4;
		float: left;
	}
	
	& .more {
		display:none;
	}
	
	& a {
		text-decoration: underline;
	}
}

#solutions {
	& h1 {
		background-image: linear-gradient(60deg, #FBBC04, #EA4335);
		background-clip: text;
		color: transparent;
	}
	
	& button {
		background-color: #EA4335;
		float: left;
	}
	
	& a {
		text-decoration: underline;
	}
}

#training {
	& h1 {
		background-image: linear-gradient(60deg, #4285F4, #34A853);
		background-clip: text;
		color: transparent;
	}

	& details {
		display: flex;
		flex-direction: column;
		
		& summary {
			padding: 8px;
			background-color: #f7f7f7;
			cursor: pointer;
			text-decoration: underline;
		}
		
		&:first-of-type summary {
			border-top-right-radius: 8px;
			border-top-left-radius: 8px;
		}
		
		&:last-of-type:not([open]) summary {
			border-bottom-right-radius: 8px;
			border-bottom-left-radius: 8px;
		}
		
		& p {
			padding: 4px 16px;
		}
	}
	
	& form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 4px;
		margin: 16px;
	}
	
	& input {
		background-color: #fff;
		border: 2px solid #34A853;
		border-radius: 8px;
		color: #000;
		padding: 6px 16px;
		
	}
	
	& button {
		margin: 0;
		background-color: #34A853;
		float: left;
	}
}

footer {
	background-color: #000;
	color: #fff;
	display: grid;
	grid-template-columns: max-content max-content auto;
	grid-template-rows: repeat(2, auto);
	grid-column-gap: 48px;
	grid-row-gap: 24px;
	padding: 40px;
	
	& h2 {
		color: #fff;
		margin-bottom: 12px;
	}
	
	& a {
		color: #fff;
		text-decoration: underline;
	}
	
	& p {
		grid-column: span 3;
		justify-self: center;
		color: #fff;
	}
}


/* ###########################
 * mobile view
/* ########################### */
@media only screen and (max-width: 719px) {
	header nav {
		justify-self: end;
		
		& ul {
			flex-direction: column;
		}
	}
	
	section, section:nth-child(odd)
	{
		flex-direction: column;
		
		& img {
			width: 90%
		}
	}
	
	footer {
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
		
		& p {
			grid-column: initial;
		}
	}
	
	#training form {
		flex-direction: column;
	}
}
